<!DOCTYPE html>
<html lang="en">
    {% extends "base.html" %}
    <head>
        {% block head %}{{ super() }}{% endblock %}
    </head>
    <body>
        {% block nav_bar %}{{ super() }}{% endblock %}
        {% block title %} About Me {% endblock %}
        {% block main %}{{ super() }}{% endblock %}


        {% block content %}

        There is not much to say, so just enjoy the calculator.
        
        {% endblock %}


        {% block footer %}{{ super() }}{% endblock %}

    </body>
</html>