<html lang="en">
    {% extends "base.html" %}
    <head>
        {% block head %}{{ super() }}{% endblock %}
    </head>
    <body>
        {% block nav_bar %}{{ super() }}{% endblock %}
        {% block title %} Main {% endblock %}
        {% block main %}{{ super() }}{% endblock %}


        {% block content %}

        This is my Main-Page.
        
        {% endblock %}

        {% block footer %}{{ super() }}{% endblock %}
        {% block script %}{{ super() }}{% endblock %}
    </body>
</html>